html{
    scroll-behavior: smooth;
}

.landing{
    flex:auto;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border: 5px;
    border-color:whitesmoke;
    border-style: solid;
    background-color: #284646;
}
.leftside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    width:60%;
    height:100vh;
    border: 5px;
    border-color:whitesmoke;
    border-style: solid;
}
.firstname{
    display:flex;
    flex-wrap: wrap;
    flex:1;
    
    font-family:'Ropa Sans', sans-serif;
    font-size: 5vh;
    
}
.namestuff{
    flex: 0 1 auto;
    color:whitesmoke;
    margin: 10%;
}
.icons{
    height:25%;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.icon{
    display:flex;
    align-content:center;
    justify-content:center;
    width: 75px;
    height:75px;}

.iconlink{
    display:flex;
    align-content:center;
    justify-content:center;
    height:25px;
}

.iconi{
    display:flex;
    align-content:center;
    justify-content:center;}

.rightside{
    height: 100%;
    width:40%;
    display:flex;
    flex-direction:column;
}
.landingdiv{
    height: 100%;
    margin: 10px;
    display:flex;
    flex-direction: column;
     align-items: center;
    flex-wrap: nowrap;
    flex: 1;
    justify-content: space-evenly;
        
 }
.landinglinks{
    padding: 15px;
    font-family:'Ropa Sans', sans-serif;
    font-size: 4vh;
    flex: none;
}
#about{
    flex: auto;
    width:100%;
    height: 50%;
    border: 5px;
    border-color:whitesmoke;
    border-style: solid;
    background-color: #284646;
    

}

.arthead{
    padding:10px;
    margin: 10px;
    font-size: 5vh;
    font-family:'Ropa Sans', sans-serif;
    color: whitesmoke;
}


#contact{
    flex:auto;
    width:100%;
    border: 5px;
    border-color:whitesmoke;
    border-style: solid;
    background-color: #284646;
    padding:10px;
}

.abouttext{
    font-family:'Ropa Sans', sans-serif;
    margin: 20px;
    font-size: 4vw;
    flex: none;
    color: whitesmoke;
}
.contacttext{
    font-family:'Ropa Sans', sans-serif;
    margin: 20px;
    font-size: 4vw;
    flex: none;
    color: whitesmoke;
}
a {
    min-height: 100px;
    color: rgb(156, 150, 150);
    -webkit-transition: .2s;
}
a:hover {
    color: hotPink;
  }
  @media (-webkit-min-device-pixel-ratio:0) {
    a {
      background-color: skyBlue;
      background-image: -webkit-linear-gradient(left, hotPink 0%, orange 50%, transparent 50%);
      background-position: 100% 0;
      background-size: 200% 200%;
      color: transparent;
      -webkit-transition: .1s .2s;
      -webkit-background-clip: text;
    }
    a:hover {
      background-position: 0 0;
      color: transparent;
      transition: .4s 0;
    }
  }

@media screen and (max-width:600px) {
    .landing{
    flex:auto;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border: 5px;
    border-color:whitesmoke;
    border-style: solid;
    background-color: #284646;}

    .leftside{
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        height:auto;
        border: 5px;
        border-color:whitesmoke;
        border-style: solid;
    }

    .rightside{
        display:flex;
        flex-direction:row;
        width:100%;
    }
    .landingdiv{
        display:flex;
        flex-direction: row;
         align-items: center;
        flex-wrap: nowrap;
        flex: 0 1 auto;
        justify-content: space-evenly;
    }
    .landinglinks{
        padding: 5px;
        font-family:'Ropa Sans', sans-serif;
        font-size: 2vh;
        flex: none;
        color: whitesmoke
    }
}